<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统通知</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<body>
		<div class="sysmessagelist" id="app">
			<ul>
				<li v-for="item in datadetails" :key='item.id'>
					<p><span class="dot"></span>{{item.updateTime}}</p>
					<p class="sysdesc">{{item.content}}</p>
				</li>
			</ul>
			<div v-if="datadetails.length==0">
				<p class="nodata">暂无系统消息</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/getSystemMessages",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							options.datadetails = data.datas
						} else {
							mui.toast("data.message")
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			});
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: [],
					token: ''
				}
			});
		</script>
	</body>
</html>
