<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<style type="text/css">
		#sliderSegmentedControl {
			width: 90%;
			margin: 0 auto;
			overflow: hidden;
		}
	</style>
	<body>
		<div class="" id="app">
			<!-- 轮播 -->
			<div class="banner">
				<div class="mui-slider banner-slider">
					<div class="mui-slider-group">
						<div class="mui-slider-item" v-for="item in bannerlist" :key="item"><a href="#"><img :src=imgurl+item.url /></a></div>
					</div>
				</div>
			</div>
			<div class="greybg">
				<!-- 咨询律师 -->
				<div class="lawyer-list">
					<!-- 					<div class="pub-sm-title">

					</div> -->
					<div class="type-list">
						<ul id="type-list">
							<li>
								<a href="javascript:void(0)" class="mfzx" id="mfzx">
									<div class="type-icon"><img src="../images/1.png"></div>
									<h4 class="type-title">免费咨询</h4>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)" id="zyzx">
									<div class="type-icon"><img src="../images/2.png"></div>
									<h4 class="type-title">专业咨询</h4>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<div class="type-icon"><img src="../images/4.png"></div>
									<h4 class="type-title">律师函件</h4>
								</a>
							</li>
							<li>
								<a href="javascript:void(0)">
									<div class="type-icon"><img src="../images/5.png"></div>
									<h4 class="type-title">合同审核</h4>
							</li>
							<li>
								<a href="javascript:void(0)">
									<div class="type-icon"><img src="../images/6.png"></div>
									<h4 class="type-title">合同定制</h4>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 推荐律师 -->
			<div class="recommend-list">
				<div class="pub-sm-title marginlr">
					<div class="vertical-line">推荐案例</div>
					<!-- <a href="javascript:void(0)" class="view-more" id="tj-more">更多</a> -->
				</div>
				<div class="recom-tab">
					<div id="slider" class="mui-slider mui-sliders">
						<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
							<div class="mui-scroll">
								<a class="mui-control-item navitem mui-active tjbtn" href="'#mm00" :idx="00" :type="0">
									推荐
								</a>
								<a class="mui-control-item navitem" :href="'#mm'+index" v-for="(item,index) in lawyertype" :key="item.id" :type='item.id'
								 :idx="index">
									{{item.name}}
								</a>
							</div>
						</div>
					</div>
					<div class="recom-box">
						<div class="caseitem" v-for="item in lawyerlist" :key="item.id" :type="item.freeOrPaid" :id="item.id">
							<div class="justbetween">
								<div class="user-box">
									<div class="user-head"><img :src=imgurl+item.headImgUrl></div>
									<div class="user-name">{{item.nickname}}</div>
								</div>
								<div class="tags">
									<span class="tag" v-if="item.type==1">劳动人事</span>
									<span class="tag" v-if="item.type==2">婚姻家庭</span>
									<span class="tag" v-if="item.type==3">债权债务</span>
									<span class="tag" v-if="item.type==4">房产土地</span>
									<span class="tag" v-if="item.type==5">行政纠纷</span>
									<span class="tag" v-if="item.type==6">刑事纠纷</span>
									<span class="tag" v-if="item.type==7">交通事故</span>
									<span class="tag" v-if="item.type==8">医疗纠纷</span>
									<span class="tag" v-if="item.type==9">知识产权</span>
									<span class="tag" v-if="item.type==10">合同纠纷</span>
									<span class="tag" v-if="item.type==11">公司法务</span>
									<span class="tag" v-if="item.type==12">其他</span>
								</div>
							</div>
							<div class="justbetween">
								<div class="bluecolor">问题内容</div>
								<div class="orangecolor" v-if="item.money">悬赏{{item.money}}元</div>
							</div>
							<div class="textover">
								<div class="textcontent" v-html="item.content"></div>
							</div>
							<div class="news-show" v-if="item.imageUrl!=''">
								<div class="news-img" v-for="imgitem in item.imageUrl.split(';')" :key="imgitem">
									<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
								</div>
							</div>
							<div class="justbetween actionbox">
								<div class="view">
									<div class="view-icon"><img src="../images/browse.png"></div>{{item.hot}}
								</div>
								<div class="remark">
									<div class="reply-icon"><img src="../images/reply1.png"></div>{{item.replyNumber}}
								</div>
							</div>
						</div>
						<div class="nodata" v-if="lawyerlist.length==0">暂无数据</div>
					</div>
				</div>
			</div>

			<script src="../js/changemui.min.js"></script>
			<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
			<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
			<script>
				mui.init({
					swipeBack: false //启用右滑关闭功能
				});
				var options = new Vue({
					el: '#app',
					data: {
						lawyerlist: [],
						lawyertype: [],
						bannerlist: []
					},
					methods: {

					}
				});
				mui.plusReady(function() {
					var token = plus.storage.getItem('token');
					console.log(token)
					options.token = token;
					banner(token);
					lawyerlist(token, 0, 20);
					tjlawyerlist(token);
					mui('.type-list').on('tap', '#mfzx', function(e) {
						var main = plus.webview.getTopWebview();
						console.log(main)
						mui.fire(main, 'gochat', {
							type: 0
						});
					});
					mui('.type-list').on('tap', '#zyzx', function(e) {
						console.log('zhuanye')
						var main = plus.webview.getTopWebview();
						mui.fire(main, 'gochat', {
							type: 1
						});
					});
					// document.querySelector('.mui-sliders').addEventListener('slide', function(event) {
					// 	var idx = event.detail.slideNumber;
					// 	console.log(idx)
					// 	var type = document.getElementsByClassName("navitem")[idx].getAttribute('type');
					// 	lawyerlist(token,type,10)
					// })
					mui('#sliderSegmentedControl').on('tap', 'a', function(e) {
						// var idx = e.target.attributes.idx.value;
						// console.log(idx)
						// options.currentLawyerType = idx;
						var type = this.getAttribute('type');
						// lawyerlist(token, options.lawyertype[idx].id, 10)
						lawyerlist(token, type, 10)
					});

				});
				// banner推荐
				function banner(token) {
					mui.ajax({
						type: 'get',
						url: baseurl + "mffl/getAdvertising",
						dataType: "json",
						beforeSend: function(XMLHttpRequest) {
							XMLHttpRequest.setRequestHeader(
								"token", token
							);
						},
						headers: {
							'contentType': "application/x-www-form-urlencoded",
							'token': token
						},
						data: {
							'advertisingType': 1
						},
						success: function(data) {
							console.log(data)
							if (data.errCode == 200) {
								options.bannerlist = data.datas;
								var galleryban = mui('.banner-slider');
								galleryban.slider({
									interval: 2000 //自动轮播周期，若为0则不自动播放，默认为0；
								});
							} else {
								mui.toast(data.message)
							}
						},
						error: function(err) {
							console.log(err)
						}
					})
				}
				// 律师推荐
				function lawyerlist(token, type, num) {
					mui.ajax({
						type: 'get',
						url: baseurl + "mffl/lawyerIndex",
						dataType: "json",
						beforeSend: function(XMLHttpRequest) {
							XMLHttpRequest.setRequestHeader(
								"token", token
							);
						},
						headers: {
							'contentType': "application/x-www-form-urlencoded",
							'token': token
						},
						data: {
							'type': type,
							'count': num
						},
						success: function(data) {
							console.log(data)
							if (data.errCode == 200) {
								options.lawyerlist = data.datas;

								//初始化轮播组件
								gallery = mui('.mui-slider');
								gallery.slider();
							} else {
								mui.toast(data.message)
							}
						},
						error: function(err) {
							console.log(err)
						}
					})
				}
				// 律师列表
				function tjlawyerlist(token) {
					mui.ajax({
						type: 'get',
						url: baseurl + "mffl/getserviceidtype",
						dataType: "json",
						beforeSend: function(XMLHttpRequest) {
							XMLHttpRequest.setRequestHeader(
								"token", token
							);
						},
						headers: {
							'contentType': "application/x-www-form-urlencoded",
							'token': token
						},
						data: {
							'serviceid': 1
						},
						success: function(data) {
							console.log(data)
							if (data.errCode == 200) {
								options.lawyertype = data.datas;
							} else {
								mui.toast(data.message)
							}
						},
						error: function(err) {
							console.log(err)
						}
					})
				}
				// 咨询详情
				mui("body").on("tap", ".caseitem", function() {
					var yid = this.getAttribute('id');
					var wordtype = this.getAttribute('type');
					if (wordtype == 0) {
						mui.openWindow({
							url: "myorderlistdetails.html",
							id: "myorderlistdetails.html",
							show: {
								// autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "免费咨询详情",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								yid: yid
							}
						});
					} else if (wordtype == 1) {
						mui.openWindow({
							url: "myorderlistdetailszy.html",
							id: "myorderlistdetailszy.html",
							show: {
								// autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "专业咨询详情",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								yid: yid
							}
						});
					}

				});
				// 热门咨询
				mui(".hot-type").on("tap", "a", function() {
					var type = this.getAttribute('typeid');
					var title = this.getAttribute('title');
					mui.openWindow({
						url: "hotzx.html",
						id: "hotzx.html",
						show: {
							// autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "热门咨询",
								titleColor: "#000000",
								titleSize: "16px",
								backgroundColor: "#ffffff",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							type: type,
							title: title
						}
					});
				});

				// 搜索
				function opensearch() {
					mui.openWindow({
						url: "lawyersearch.html",
						id: "lawyersearch.html",
						show: {
							// autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "律师搜索",
								titleColor: "#000000",
								titleSize: "16px",
								backgroundColor: "#ffffff",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							newsId: "0"
						}
					});
				}
				// 免费咨询
				var oList = document.getElementById("type-list");
				var aLi = oList.children;
				for (var i = 0; i < aLi.length; i++) {
					aLi[i].index = i;
					aLi[i].onclick = function() {
						if (this.index == 2) {
							mui.openWindow({
								url: "myorderlistlsh.html",
								id: "myorderlistlsh.html",
								show: {
									// autoShow: false
								},
								styles: {
									titleNView: { // 窗口的标题栏控件
										autoBackButton: true,
										titleText: "律师函",
										titleColor: "#000000",
										titleSize: "16px",
										backgroundColor: "#ffffff",
										progress: { // 标题栏控件的进度条样式
											color: "#2E82FF",
											height: "2px"
										},
										// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
										// 	color: "#CCCCCC",
										// 	height: "1px"
										// }
									}
								},
								extras: {
									newsId: "0"
								}
							});
						} else if (this.index == 3) {
							mui.openWindow({
								url: "myorderlisthtsh.html",
								id: "myorderlisthtsh.html",
								show: {
									// autoShow: false
								},
								styles: {
									titleNView: { // 窗口的标题栏控件
										autoBackButton: true,
										titleText: "合同审核",
										titleColor: "#000000",
										titleSize: "16px",
										backgroundColor: "#ffffff",
										progress: { // 标题栏控件的进度条样式
											color: "#2E82FF",
											height: "2px"
										},
										// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
										// 	color: "#CCCCCC",
										// 	height: "1px"
										// }
									}
								},
								extras: {
									newsId: "0"
								}
							});
						} else if (this.index == 5) {
							mui.openWindow({
								url: "myorderlisthtdz.html",
								id: "myorderlisthtdz.html",
								show: {
									// autoShow: false
								},
								styles: {
									titleNView: { // 窗口的标题栏控件
										autoBackButton: true,
										titleText: "合同定制",
										titleColor: "#000000",
										titleSize: "16px",
										backgroundColor: "#ffffff",
										progress: { // 标题栏控件的进度条样式
											color: "#2E82FF",
											height: "2px"
										},
										// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
										// 	color: "#CCCCCC",
										// 	height: "1px"
										// }
									}
								},
								extras: {
									newsId: "0"
								}
							});
						}
					}
				}
			</script>
	</body>
</html>
