<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>律师函列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/mui.imageviewer.css" /> -->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="myorderlist" id="app">
			<div class="mui-scroll-wrapper" id="pullrefresh">
				<div class="mui-scroll">
					<div class="orderlistitem" v-for="item in datalist" :key="item.id">
						<div class="orderreference" :id="item.id">
							<div class="ordernum">订单编号：{{item.payMerchantNumber}}</div>
							<em class="orangecolor">{{item.money}}元</em>
							<div class="orderstatus orangecolor" v-if="item.payState==0">待支付</div>
							<div class="orderstatus bluecolor" v-if="item.payState==1">已支付</div>
							<div class="orderstatus redcolor" v-if="item.payState==2">已退款</div>
							<div class="orderstatus" v-if="item.payState==3">申请退款</div>
						</div>
						<div class="orderquestion">
							<label>问题内容</label>
							<div class="ordercontent">{{item.describe}}</div>
							<div class="news-show" v-if="item.imageUrl!=''">
								<div class="news-img" v-for="imgitem in item.imageUrl.split(';')" :key="imgitem">
									<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
								</div>
							</div>
						</div>
						<div class="orderchange">
							<div class="ordertime">{{item.updateTime}}</div>
							<div class="orderaction" v-if="item.payState==1&&item.state==0">
								<button type="button" class="mui-btn handle" :yid="item.id">立即处理</button>
							</div>
							<div class="orderaction" v-if="item.state==2">
								<button type="button" class="mui-btn viewlogistics" :yid="item.id">查看物流</button>
								<button type="button" class="mui-btn telephone" :phone="item.number" :id="item.id">拨打电话</button>
							</div>
						</div>
					</div>
					<div class="nodata" v-if="datalist.length==0">
						暂无数据
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init({
				longtap: true,
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				console.log('下')
				setTimeout(function() {
					letterlist(options.token, 0, 10)
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				console.log('上')
				options.limit = options.limit * 1 + 10;
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					letterlist(options.token, options.offset, options.limit)
				}, 1500);
			}
			var channel = null;
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				letterlist(token, 0, 10);
				// 立即处理
				mui("body").on('tap', '.handle', function() {
					var id = this.getAttribute('yid');
					mui.confirm('请选择接受订单或拒绝订单', '立即处理', ['拒绝', '接受', '关闭'], function(e) {
						console.log(e.index)
						var idx = e.index;
						if (idx == 0) {
							// 拒绝
							refuse(token, id);
						} else if (idx == 1) {
							// 接受
							accept(token, id);
						}
					}, 'div')
				});
				// 拨打电话
				mui("body").on('tap', '.telephone', function() {
					var phone = this.getAttribute("phone");
					var htid = this.getAttribute("id");
					var btnArray = ['拨打', '取消'];
					mui.confirm('是否拨打' + phone + '?', '提示', btnArray, function(e) {
						if (e.index == 0) {
							plus.device.dial(phone, false);
							phone(options.token, options.htid)
						}
					});
				});

			})

			var options = new Vue({
				el: '#app',
				data: {
					datalist: [],
					receiveid: '',
					token: "",
					offset: 0,
					limit: 10,
					htid:''
				},
				methods: {
					gohome: function() {

					}
				}
			});
			// 律师函列表
			function letterlist(token, offset, limit) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'offset': offset,
						'limit': limit
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datalist = data.datas.data;
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			// 查看详情
			mui("body").on("tap", ".orderlistitem .orderreference", function() {
				var lshid = this.getAttribute('id');
				mui.openWindowWithTitle({
					url: "myorderlistdetailslsh.html",
					id: "myorderlistdetailslsh.html",
					styles: {
						top: "0",
						bottom: "0",
					},
					extras: {
						// 打开页面的同时，向新页面传递数据。
						lshid: lshid
					}
				}, {
					//标题栏的背景色和底边线配置
					backgroundColor: "#267CFB",
					bottomBorderColor: "#267CFB",
					title: {
						//标题文字的内容和样式配置
						text: "律师函详情",
						styles: {
							color: "#ffffff"
						}
					},
					back: {
						image: {
							/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
							imgSrc: "../images/wleft-icon.png"
						}
					}
				})
			});
			//拒绝服务
			function refuse(token, id) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/refuse",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': id
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							mui.toast("操作成功！")
							letterlist(options.token, options.offset, options.limit);
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}

			//接受订单
			function accept(token, id) {
				mui.ajax({
					type: 'post',
					url: baseurl + "Lawyer/mfflLawyerletters/confirm",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': id
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							mui.toast("操作成功！")
							letterlist(options.token, options.offset, options.limit);
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
			//查看快递
			function ems(token, id) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/showCourier",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': id
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {

						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
			//拨打电话
			function phone(token, htid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/Phone",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': htid
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {

						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
		</script>
	</body>

</html>
