<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>律师函详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/mui.imageviewer.css" /> -->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="myorderlistdetialslsh" id="app">
			<div class="numbox">
				<div class="ordernumber">订单状态：
					<em v-if="datadetails.state==0">发布成功</em>
					<em v-if="datadetails.state==1">已接单</em>
					<em v-if="datadetails.state==2">拒绝接单</em>
					<em v-if="datadetails.state==3">已发货</em>
					<em v-if="datadetails.state==4">完成交易</em>
					<em v-if="datadetails.state==5">已撤销订单</em>
					<em v-if="datadetails.state==6">超时接单撤销，自动退款</em>
					<em v-if="datadetails.state==7">已退款</em>
				</div>
				<div class="">{{datadetails.money}}元</div>
			</div>
			<div class="myorderdesc">
				<div class="recom-item mui-content" v-if="datadetails.laywerinfo">
					<div class="head-img">
						<img :src=imgurl+datadetails.laywerinfo.headImgUrl>
					</div>
					<div class="infor">
						<div class="intro">
							<div class="namebtn">
								<p class="intro-name">{{datadetails.laywerinfo.nickname}}</p>
								<div class="smdbbtn">
									<button type="button" class="mui-btn dialog" :sendId="datadetails.laywerinfo.id" :name="datadetails.laywerinfo.nickname">联系律师</button>
									<button type="button" class="mui-btn telephone" :phone="datadetails.laywerinfo.phone" :id="datadetails.id">拨打电话</button>
								</div>
							</div>
							<p class="intro-city">{{datadetails.laywerinfo.areaName}}</p>
							<p class="intro-company">{{datadetails.laywerinfo.lawfirm}}</p>
						</div>
					</div>
				</div>
				<div class="choosetalk">
					<label>文书类型</label>
					<div class="wsype">律师函</div>
				</div>
				<div class="choosetalk">
					<label>您的称呼</label>
					<div class="wsype" v-if="datadetails.userinfo">{{datadetails.userinfo.nickname}}</div>
				</div>
				<div class="choosetalk">
					<label>联系方式</label>
					<div class="wsype" v-if="datadetails.userinfo">{{datadetails.userinfo.phone}}</div>
				</div>
				<div class="talktextarea">
					<label>事件描述</label>
					<div class="" v-html="datadetails.describe"></div>
					<div class="news-show" v-if="datadetails.imageUrl!=''">
						<div class="news-img" v-for="imgitem in (datadetails.imageUrl || '').split(';')" :key="imgitem">
							<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
						</div>
					</div>
				</div>
				<div class="choosetalk">
					<label>函件双方(我方)</label>
					<div class="wsype">{{datadetails.we}}</div>
				</div>
				<div class="choosetalk">
					<label>函件双方(对方)</label>
					<div class="wsype">{{datadetails.otherParty}}</div>
				</div>
				<div class="talktextarea">
					<label>备注</label>
					<div class="" v-html="datadetails.content"></div>
				</div>
				<div class="talktextarea">
					<label>邮寄信息</label>
					<div class="" v-if="datadetails.laywerinfo">
						<p>收件人：{{datadetails.laywerinfo.nickname}}</p>
						<p>联系方式：{{datadetails.laywerinfo.phone}}</p>
						<p>地址：{{datadetails.laywerinfo.areaName}}</p>
					</div>
				</div>
				<div class="talktextarea">
					<p class="ordernum">
						<span class="ordernumber">订单编号：{{datadetails.payMerchantNumber}}</span>
						<span class="bluecolor" :num="datadetails.payMerchantNumber" id="copy">复制</span>
					</p>
					<p>下单时间：{{datadetails.createTime}}</p>
					<p>支付时间：{{datadetails.paymentTime}}</p>
				</div>
				<div class="orderchange">
					<div class="ordertime"></div>
					<div class="orderaction" v-if="datadetails.payState==1&&datadetails.state==0">
						<button type="button" class="mui-btn handle">立即处理</button>
					</div>
					<div class="orderaction" v-if="datadetails.state==1">
						<button type="button" class="mui-btn addlogistics">添加物流信息</button>
					</div>
					<div class="orderaction" v-if="datadetails.state==3">
						<button type="button" class="mui-btn viewlogistics">查看物流</button>
					</div>
					<div class="orderaction" v-if="datadetails.payState==2||datadetails.payState==3">
						<button type="button" class="mui-btn ">修改物流信息</button>
						<button type="button" class="mui-btn viewlogistics">查看物流</button>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				var self = plus.webview.currentWebview();
				var id = self.lshid;
				options.lshid = id;
				options.token = token;

				getdetails(token, id)
				// 立即处理
				mui("body").on('tap', '.handle', function() {
					mui.confirm('请选择接受订单或拒绝订单', '立即处理', ['拒绝', '接受', '关闭'], function(e) {
						console.log(e.index)
						var idx = e.index;
						if (idx == 0) {
							// 拒绝
							refuse(token, id);
						} else if (idx == 1) {
							// 接受
							accept(token, id);
						}
					}, 'div')
				})
				// 添加物流
				mui("body").on('tap', '.addlogistics', function() {
					mui.openWindowWithTitle({
						url: "addlogistics.html",
						id: "addlogistics.html",
						extras: {
							// 打开页面的同时，向新页面传递数据。
							lshid: options.lshid
						}
					}, {
						//标题栏的背景色和底边线配置
						backgroundColor: "#ffffff",
						//bottomBorderColor:"#00ff00",
						title: {
							//标题文字的内容和样式配置
							text: "添加物流信息"
						},
						back: {
							image: {
								/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
								imgSrc: "../images/left-icon.png"
							}
						}
					});
				})
				// 完成服务
				mui("body").on('tap', '.receipt', function() {
					var id = this.getAttribute("id");
					receipt(token, id)
				});

				// 拨打电话
				mui("body").on('tap', '.telephone', function() {
					var phone = this.getAttribute("phone");
					var htid = this.getAttribute("id");
					var btnArray = ['拨打', '取消'];
					mui.confirm('是否拨打' + phone + '?', '提示', btnArray, function(e) {
						if (e.index == 0) {
							plus.device.dial(phone, false);
							phone(options.token, options.htid)
						}
					});
				});
				// 联系律师
				mui("body").on("tap", ".dialog", function() {
					console.log('对话')
					var sendId = this.getAttribute("sendId");
					var newname = this.getAttribute("name");
					mui.ajax({
						type: 'post',
						url: baseurl + "client/mfflChatContents/setStartTime",
						dataType: "json",
						beforeSend: function(XMLHttpRequest) {
							XMLHttpRequest.setRequestHeader(
								"token", options.token
							);
						},
						headers: {
							'contentType': "application/x-www-form-urlencoded",
							'token': options.token
						},
						data: {
							'receiveId': sendId,
						},
						success: function(data) {
							console.log(data)
							if (data.errCode == 200) {
								mui.openWindowWithTitle({
									url: "dialog.html",
									id: "dialog.html",
									styles: {},
									extras: {
										// 打开页面的同时，向新页面传递数据。
										sendId: sendId
									}
								}, {
									//标题栏的背景色和底边线配置
									backgroundColor: "#ffffff",
									//bottomBorderColor:"#00ff00",
									title: {
										//标题文字的内容和样式配置
										text: newname + "(" + data.datas.timeRemaining + ")",
										whiteSpace: "normal"
									},
									back: {
										image: {
											/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
											imgSrc: "../images/left-icon.png"
										}
									}
								})
							} else {
								mui.toast(data.message)
							}
						},
						error: function(err) {
							console.log(err)
						}
					})
				});
				// 复制
				mui("body").on('tap', '#copy', function() {
					var num = this.getAttribute("num");
					copy_fun(num)
				});
			})



			var options = new Vue({
				el: '#app',
				data: {
					datadetails: {},
					otherdetails: [],
					infoid: '',
					token: '',
					lshid: ""
				},
				methods: {
					gohome: function() {

					}
				}
			});
			//获取详情
			function getdetails(token, id) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/" + id,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							options.datadetails = data.datas;
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}

			//拒绝服务
			function refuse(token, id) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/refuse",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': id
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							mui.toast("操作成功！")
							getdetails(options.token, options.lshid)
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}

			//接受订单
			function accept(token, id) {
				mui.ajax({
					type: 'post',
					url: baseurl + "Lawyer/mfflLawyerletters/confirm",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': id
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							mui.toast("操作成功！")
							getdetails(options.token, options.lshid)
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}

			//完成服务
			function receipt(token, htid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflContracts/ConfirmCompletion",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': htid
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							mui.toast("申请成功！")
							getdetails(options.token, options.lshid)
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
			//查看快递
			function ems(token, id) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/showCourier",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': id
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {

						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
			//拨打电话
			function phone(token, htid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflLawyerletters/Phone",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': htid
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {

						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
		</script>
	</body>

</html>
