<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>免费咨询详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/mui.imageviewer.css" /> -->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="myorderlistdetials" id="app">
			<div class="numbox">
				<div class="ordernumber">订单编号：{{datadetails.payMerchantNumber}}</div>
				<div class="bluecolor" :num="datadetails.payMerchantNumber" id="copy">复制</div>
			</div>
			<div class="myorderdesc  mui-content">
				<div class="user-info">
					<div class="user-box">
						<div class="user-head" v-if="datadetails.userinfo"><img :src=imgurl+datadetails.userinfo.headImgUrl></div>
						<div class="user-type">{{datadetails.identity==0?"用户":"律师"}}</div>
						<div class="user-name">{{datadetails.nickname}}</div>
					</div>
					<div class="hot-box">
						<div class="hot-num">{{datadetails.updateTime}}</div>
					</div>
				</div>
				<div class="ordertype">
					<div class="tags">
						<span class="tag">{{datadetails.typename}}</span>
					</div>

					<div class="orderstatus orangecolor">
						{{datadetails.state==0?"未完成":"已完成"}}</div>
				</div>
				<div class="descitem">
					<label>问题内容</label>
					<div v-html="datadetails.content"></div>
					<div class="news-show" v-if="datadetails.imageUrl!=''">
						<div class="news-img" v-for="imgitem in (datadetails.imageUrl ||'').split(';')" :key="imgitem">
							<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
						</div>
					</div>
				</div>
				<div class="descitem">
					<label>对方态度</label>
					<div v-html="datadetails.defendantAttitude"></div>
					<div class="news-show" v-if="datadetails.defendantUrl!=''">
						<div class="news-img" v-for="imgitem in (datadetails.defendantUrl || '').split(';')" :key="imgitem">
							<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
						</div>
					</div>
				</div>
				<div class="descitem">
					<label>我的诉求</label>
					<div v-html="datadetails.myAppeal"></div>
				</div>
			</div>
			<div class="br">—— 律师解答 ——</div>
			<div class="mui-content marginbottom">
				<div class="lawyeransitem" v-for="item in  datadetails.replyList" :key="item.id">
					<div class="user-info">
						<div class="user-box">
							<div class="user-head"><img :src=imgurl+item.userinfo.headImgUrl></div>
							<div class="user-type">{{item.userinfo.identity==0?"用户":"律师"}}</div>
							<div class="user-name">{{item.userinfo.nickname}}</div>
						</div>
						<div class="hot-box">
							<div class="hot-num">{{item.userinfo.updateTime}}</div>
						</div>
					</div>
					<div class="mui-text-right" v-if="datadetails.bestAnswerId==item.id">
						<div class="checkicon">
							<img src="../images/caina.png">
						</div>
						<span class="orangecolor">已采纳</span>
					</div>
					<div class="">
						<p class="anscontent">{{item.reply}}</p>
						<div class="answersecond">
							<div class="answeritme" v-for="second in item.consultationReplyList" :key="second.id">
								<div class="user-info">
									<div class="user-name bluecolor">{{second.userinfo.nickname}}</div>
									<div class="hot-num">{{second.updateTime}}</div>
								</div>
								<div class="">
									<p>回复<em class="bluecolor">{{item.userinfo.nickname==second.userinfo.nickname?datadetails.userinfo.nickname:item.userinfo.nickname}}：</em>{{second.reply}}</p>
								</div>
							</div>
							<!-- 							<div class="answeritme">
								<div class="user-info">
									<div class="user-name bluecolor">北京大兴张律师</div>
									<div class="hot-num">10-16 14:14</div>
								</div>
								<div class="">
									<p>回复<em>大成法律宋律师：</em>谢谢你宋律师，我已经联系物业了并没有什么实际效果。</p>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
			<div class="mui-content pubbox" id="pubipt">
				<div class="iptbox">
					<input type="text" placeholder="说点什么" id="saytext">
				</div>
				<div class="pubbtnbox">
					<button type="button" class="mui-btn mui-btn-blue" id="pubtalk">发布</button>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				var self = plus.webview.currentWebview();
				var infoid = self.yid;
				options.token = token;
				options.infoid = infoid;
				getdetails(token, infoid)
			})
			mui('body').on('tap', '#pubtalk', function() {
				var text = document.getElementById('saytext').value;
				if(options.appendid==null){
					addans(options.token, options.datadetails.id, 0, text)
				}else{
					addans(options.token, options.datadetails.id, options.appendid, text)
				}
			});
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: {},
					otherdetails: [],
					infoid: '',
					token: '',
					ansid: '',
					appendid: '',

				},
				methods: {
					gohome: function() {

					}
				}
			});
			// 获取详情
			function getdetails(token, infoid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflConsultations/" + infoid,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datadetails = data.datas;
							options.appendid = data.datas.status;
						} else {
							mui.toast(data.message);
							mui.back();
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}


			// 追评text
			function addans(token, ansid, appendid, text) {
				mui.ajax({
					type: 'post',
					url: baseurl + "client/mfflConsultations/replyconsultation",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'consultationid': ansid,
						'appendid': appendid,
						'reply': text
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast("评论成功！");
							getdetails(options.token, options.infoid);
							document.getElementById('saytext').value = '';
						} else {
							mui.toast(data.message);
							mui.back();
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
		</script>
	</body>

</html>
