<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>合同审核列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="../css/mui.imageviewer.css" /> -->
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>

	<body>
		<div class="myorderlist" id="app">
			<div class="mui-scroll-wrapper" id="pullrefresh">
				<div class="mui-scroll">
					<div class="orderlistitem" v-for="item in datalist" :key="item.id">
						<div class="orderreference" :id="item.id">
							<div class="ordernum">
								<p>订单编号：</p>
								<p>{{item.payMerchantNumber}}</p>
							</div>
							<em class="orangecolor">{{item.money}}元</em>
							<div class="orderstatus orangecolor" v-if="item.payState==0">待支付</div>
							<div class="orderstatus bluecolor" v-if="item.payState==1">
								<span v-if="item.state==1">律师沟通</span>
								<span v-if="item.state==2">寄送律件</span>
								<span v-if="item.state==3">完成服务</span>
								<span v-if="item.state==4">撤销发布</span>
								<span v-if="item.state==5">申请退款</span>
							</div>
							<div class="orderstatus redcolor" v-if="item.payState==2">退款中</div>
							<div class="orderstatus" v-if="item.payState==3">已经退款</div>
						</div>
						<div class="orderquestion">
							<label>问题内容</label>
							<div class="ordercontent">{{item.content}}</div>
							<div class="news-show" v-if="item.imageUrl!=''">
								<div class="news-img" v-for="imgitem in item.imageUrl.split(';')" :key="imgitem">
									<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
								</div>
							</div>
						</div>
						<div class="orderchange">
							<div class="ordertime">{{item.updateTime}}</div>
							<div class="orderaction" v-if="item.state==1">
								<button type="button" class="mui-btn handle" :yid="item.id">立即处理</button>
							</div>
							<div class="orderaction" v-if="item.payState==1&&item.state!=2">
								<button type="button" class="mui-btn call" :yid="item.id">拨打电话</button>
							</div>
							<div class="orderaction" v-if="item.state==2">
								<button type="button" class="mui-btn handle" :yid="item.id">查看物流</button>
								<button type="button" class="mui-btn handle" :yid="item.id">拨打电话</button>
							</div>
						</div>
					</div>
					<div class="nodata" v-if="datalist.length==0">
						暂无数据
					</div>
				</div>
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init({
				longtap: true,
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				console.log('下')
				setTimeout(function() {
					letterlist(options.token, 0, 10)
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				console.log('上')
				options.limit = options.limit * 1 + 10;
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					letterlist(options.token, options.offset, options.limit)
				}, 1500);
			}
			var channel = null;
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				letterlist(token,0,10);
				// 获取支付通道
				plus.payment.getChannels(function(channels) {
					for (var i in channels) {
						if (channels[i].id == "wxpay") {
							channel = channels[i];
						} else {
							aliChannel = channels[i];
						}
					}
				}, function(e) {
					alert("获取支付通道失败：" + e.message);
				});

				// 取消发布
				mui("body").on("tap", ".cancel", function() {
					var id = this.getAttribute('yid');
					console.log(id)
					var btnArray = ['是', '否'];
					mui.confirm('确定取消发布?', '', btnArray, function(e) {
						if (e.index == 0) {
							cancel(token, id);
						}
					})
				});
			})

			var options = new Vue({
				el: '#app',
				data: {
					datalist: [],
					receiveid: '',
					token: "",
					offset:0,
					limit:10
				},
				methods: {
					gohome: function() {

					}
				}
			});
			// 合同审核列表
			function letterlist(token,offset,limit) {
				mui.ajax({
					type: 'get',
					url: baseurl + "Lawyer/mfflContracts",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'serviceId': 4,
						'offset': offset,
						'limit': limit
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.datalist = data.datas.data;
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			// 合同审核详情
			mui("body").on("tap", ".orderlistitem .orderreference", function() {
				var lshid = this.getAttribute('id');
				mui.openWindowWithTitle({
					url: "myorderlistdetailshtsh.html",
					id: "myorderlistdetailshtsh.html",
					styles: {
						top: "0",
						bottom: "0",
					},
					extras: {
						// 打开页面的同时，向新页面传递数据。
						lshid: lshid
					}
				}, {
					//标题栏的背景色和底边线配置
					backgroundColor: "#267CFB",
					bottomBorderColor: "#267CFB",
					title: {
						//标题文字的内容和样式配置
						text: "合同审核详情",
						styles: {
							color: "#ffffff"
						}
					},
					back: {
						image: {
							/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
							imgSrc: "../images/wleft-icon.png"
						}
					}
				})
			});

			// 取消发布
			function cancel(token, hid) {
				mui.ajax({
					type: 'DELETE',
					url: baseurl + "client/mfflContracts/cancel?id=" + hid,
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							mui.toast('取消成功！')
							letterlist(options.token);
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
						mui.toast(err.response)
					}
				})
			}
			// 支付
			mui("body").on("tap", ".gobuy", function() {
				var num = this.getAttribute("num");
				mui.ajax({
					type: 'post',
					url: baseurl + "client/mfflContracts/pay",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", options.token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': options.token
					},
					data: {
						'paymerchantnumber': num
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							plus.payment.request(channel, data.datas, function(result) {
								console.log(result)
								mui.openWindow({
									url: 'paysuccess.html',
									id: 'paysuccess.html',
									extras: {
										//自定义扩展参数，可以用来处理页面间传值  
									}
								})
							}, function(error) {
								console.log(error)
								// plus.nativeUI.alert(JSON.stringify(error)); 
							});
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			});
		</script>
	</body>

</html>
