<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<body>
		<div id="app">
			<div class="my-bg">
				<img src="../images/my_bg.png">
				<div class="my-info">
					<div class="circle-big" :id="token==null?'login':''">
						<div class="circle-sm">
							<div><img :src=imgurl+userinfo.headImgUrl></div>
						</div>
					</div>
					<h4 v-if="token!=null">{{userinfo.nickname}}</h4>
					<h4 v-if="token==null">点击头像登录</h4>
				</div>
			</div>
			<div class="my-act">
				<ul class="mui-table-view" id="my-acts">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right"><i class="my-icon"><img src="../images/grzl.png"></i>个人资料</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right"><i class="my-icon"><img src="../images/wddd.png"></i>我的订单</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right"><i class="my-icon"><img src="../images/money.png"></i>我的钱包</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right"><i class="my-icon"><img src="../images/service.png"></i>服务设置</a>
					</li>
				</ul>
				<ul class="mui-table-view my-nav" id="ours">
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right"><i class="my-icon"><img src="../images/gywm.png"></i>关于我们</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="mui-navigate-right"><i class="my-icon"><img src="../images/lxwm.png"></i>联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init();
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: {},
					otherdetails: [],
					userinfo: '',
					token: ''
				},
				methods: {}
			});
			(function($, doc) {
				window.addEventListener('refreshes', function(e) {
					//执行刷新
					console.log("刷新父页面")
					location.reload();
				});
			})(mui, document);
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				details(token)
				options.token = token;
				var self = plus.webview.currentWebview();
				var id = self.id;
			})
			var oList = document.getElementById("my-acts");
			var aLi = oList.children;
			for (var i = 0; i < aLi.length; i++) {
				aLi[i].index = i;
				aLi[i].onclick = function() {
					console.log(this.index);
					if (this.index == 0) {
						mui.openWindow({
							url: "personal.html",
							id: "personal.html",
							show: {
								//autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "个人资料",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								newsId: "0"
							}
						});
					} else if (this.index == 1) {
						mui.openWindow({
							url: "myorder.html",
							id: "myorder.html",
							show: {
								//autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "我的订单",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								newsId: "0"
							}
						});
					} else if (this.index == 2) {
						mui.openWindow({
							url: "myWallet.html",
							id: "myWallet.html",
							show: {
								//autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "我的钱包",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								newsId: "0"
							}
						});
					} else {
						{
							mui.openWindow({
								url: "myservice.html",
								id: "myservice.html",
								show: {
									//autoShow: false
								},
								styles: {
									titleNView: { // 窗口的标题栏控件
										autoBackButton: true,
										titleText: "服务设置",
										titleColor: "#000000",
										titleSize: "16px",
										backgroundColor: "#ffffff",
										progress: { // 标题栏控件的进度条样式
											color: "#2E82FF",
											height: "2px"
										},
										// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
										// 	color: "#CCCCCC",
										// 	height: "1px"
										// }
									}
								},
								extras: {
									newsId: "0"
								}
							});

						}
					}

				}
			}


			var ourList = document.getElementById("ours");
			var aboutLi = ourList.children;
			for (var i = 0; i < aboutLi.length; i++) {
				aboutLi[i].index = i;
				aboutLi[i].onclick = function() {
					console.log(this.index);
					if (this.index == 0) {
						mui.openWindow({
							url: "about.html",
							id: "about.html",
							show: {
								//autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "关于我们",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								newsId: "0"
							}
						});
					} else if (this.index == 1) {
						mui.openWindow({
							url: "contact.html",
							id: "contact.html",
							show: {
								//autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "联系我们",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								newsId: "0"
							}
						});
					}
				}
			}

			// 登录
			mui("body").on('tap', '#login', function() {
				mui.openWindow({
					url: "login.html",
					id: "login.html",
					show: {
						//autoShow: false
					},
					styles: {
						titleNView: { // 窗口的标题栏控件
							autoBackButton: true,
							titleText: "登录",
							titleColor: "#ffffff",
							titleSize: "16px",
							backgroundColor: "#267CFB",
							progress: { // 标题栏控件的进度条样式
								color: "#2E82FF",
								height: "2px"
							},
							// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
							// 	color: "#CCCCCC",
							// 	height: "1px"
							// }
						}
					},
					extras: {
						newsId: "0"
					}
				});
			});
			// 个人信息
			function details(token) {
				mui.ajax({
					type: 'get',
					url: baseurl + "mffl/getUserInfo",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.userinfo = data.datas;
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
						mui.toast(err.response)
					}
				})
			}
		</script>
	</body>
</html>
