<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统通知</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<body>
		<div class="sysmessagelist" id="app">
			<div class="mui-scroll-wrapper" id="pullrefresh">
				<ul class="mui-scroll">
					<li v-for="item in datadetails" :key='item.id' :mid="item.messageId" :id="item.id" :type="item.type">
						<p><span class="dot" v-if="item.status==1"></span>{{item.updateTime}}</p>
						<p class="sysdesc">{{item.content}}</p>
					</li>
				</ul>
			</div>
			<div v-if="datadetails.length==0">
				<p class="nodata">暂无系统消息</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init({
				swipeBack: false, //启用右滑关闭功能
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				},
				beforeback: function() {
					//获得父页面的webview
					var list = plus.webview.currentWebview().opener();
					//触发父页面的自定义事件(refresh),从而进行刷新
					mui.fire(list, 'refreshes');
					//返回true,继续页面关闭逻辑
					return true;
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				console.log('下')
				setTimeout(function() {
					getlist(options.token, 0, 10)
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				console.log('上')
				options.limit = options.limit * 1 + 10;
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					getlist(options.token, options.offset, options.limit)
				}, 1500);
			}
			(function($, doc) {
				window.addEventListener('refreshes', function(e) {
					//执行刷新
					console.log("刷新父页面")
					location.reload();
				});
			})(mui, document);
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				getlist(options.token, 0, 10)
			});
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: [],
					token: '',
					limit:'10',
					offset:'0'
				}
			});
			mui('.sysmessagelist').on('tap', 'li', function() {
				var mid = this.getAttribute('mid');
				var kid = this.getAttribute('id');
				var type = this.getAttribute('type');
				console.log(mid, type)
				updatemes(options.token, kid)
				switch (type) {
					case "1":
						mui.openWindow({
							url: "myorderlistdetails.html",
							id: "myorderlistdetails.html",
							show: {
								//autoShow: false
							},
							styles: {
								titleNView: { // 窗口的标题栏控件
									autoBackButton: true,
									titleText: "免费咨询",
									titleColor: "#000000",
									titleSize: "16px",
									backgroundColor: "#ffffff",
									progress: { // 标题栏控件的进度条样式
										color: "#2E82FF",
										height: "2px"
									},
									// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
									// 	color: "#CCCCCC",
									// 	height: "1px"
									// }
								}
							},
							extras: {
								yid: mid
							}
						});
						break;
					case "2":
					mui.openWindow({
						url: "myorderlistdetailszy.html",
						id: "myorderlistdetailszy.html",
						show: {
							//autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "专业咨询",
								titleColor: "#000000",
								titleSize: "16px",
								backgroundColor: "#ffffff",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							yid: mid
						}
					});
						break;
					case '3':
					mui.openWindow({
						url: "myorderlistdetailslsh.html",
						id: "myorderlistdetailslsh.html",
						show: {
							//autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "律师函",
								titleColor: "#ffffff",
								titleSize: "16px",
								backgroundColor: "#267CFB",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							lshid: mid
						}
					});
						break;
					case '4':
					mui.openWindow({
						url: "myorderlistdetailshtsh.html",
						id: "myorderlistdetailshtsh.html",
						show: {
							//autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "合同审核",
								titleColor: "#ffffff",
								titleSize: "16px",
								backgroundColor: "#267CFB",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							lshid: mid
						}
					});
						break;
					case '5':
					mui.openWindow({
						url: "myorderlistdetailshtdz.html",
						id: "myorderlistdetailshtdz.html",
						show: {
							//autoShow: false
						},
						styles: {
							titleNView: { // 窗口的标题栏控件
								autoBackButton: true,
								titleText: "免费咨询",
								titleColor: "#ffffff",
								titleSize: "16px",
								backgroundColor: "#267CFB",
								progress: { // 标题栏控件的进度条样式
									color: "#2E82FF",
									height: "2px"
								},
								// splitLine: { // 标题栏控件的底部分割线，类似borderBottom
								// 	color: "#CCCCCC",
								// 	height: "1px"
								// }
							}
						},
						extras: {
							lshid: mid
						}
					});
						break;
				}
			});

			function updatemes(token, kid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/updateMessageStatus",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': kid
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}

			function getlist(token, offset, limit) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/getSystemMessagesLimit",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'offset': offset,
						'limit': limit
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							options.datadetails = data.datas.data
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
		</script>
	</body>
</html>
