<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统通知</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<body>
		<div class="sysmessagelist" id="app">
			<ul>
				<li v-for="item in datadetails" :key='item.id' :mid="item.messageId" :type="item.type">
					<p><span class="dot" v-if="item.status==1"></span>{{item.updateTime}}</p>
					<p class="sysdesc">{{item.content}}</p>
				</li>
			</ul>
			<div v-if="datadetails.length==0">
				<p class="nodata">暂无系统消息</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/getSystemMessages",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							options.datadetails = data.datas
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			});
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: [],
					token: ''
				}
			});
			mui('.sysmessagelist').on('tap', 'li', function() {
				var mid = this.getAttribute('mid');
				var kid = this.getAttribute('key');
				var type = this.getAttribute('type');
				console.log(mid, type)
				updatemes(options.token,kid)
				switch (type) {
					case "1":
						mui.openWindowWithTitle({
							url: "myorderlistdetails.html",
							id: "myorderlistdetails.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								yid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#ffffff",
							// bottomBorderColor:"#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "免费咨询",
								styles: {
									color: "#333333"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/left-icon.png"
								}
							}
						})
						break;
					case "2":
						mui.openWindowWithTitle({
							url: "myorderlistdetailszy.html",
							id: "myorderlistdetailszy.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								yid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#ffffff",
							// bottomBorderColor:"#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "专业咨询",
								styles: {
									color: "#333333"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/left-icon.png"
								}
							}
						})
						break;
					case '3':
						mui.openWindowWithTitle({
							url: "myorderlistdetailslsh.html",
							id: "myorderlistdetailslsh.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								lshid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#267CFB",
							bottomBorderColor: "#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "律师函",
								styles: {
									color: "#ffffff"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/wleft-icon.png"
								}
							}
						})
						break;
					case '4':
						mui.openWindowWithTitle({
							url: "myorderlistdetailshtsh.html",
							id: "myorderlistdetailshtsh.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								lshid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#267CFB",
							bottomBorderColor: "#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "合同审核",
								styles: {
									color: "#ffffff"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/wleft-icon.png"
								}
							}
						})
						break;
					case '5':
						mui.openWindowWithTitle({
							url: "myorderlistdetailshtdz.html",
							id: "myorderlistdetailshtdz.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								lshid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#267CFB",
							bottomBorderColor: "#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "合同定制",
								styles: {
									color: "#ffffff"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/wleft-icon.png"
								}
							}
						})
						break;
					case '6':
						mui.openWindowWithTitle({
							url: "dialog.html",
							id: "dialog.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								yid: 0
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#ffffff",
							// bottomBorderColor:"#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "合同定制",
								styles: {
									color: "#333333"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/left-icon.png"
								}
							}
						})
						break;
				}
			});

			function updatemes(token,kid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/updateMessageStatus",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id':kid
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
		</script>
	</body>
</html>
