<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>系统通知</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
	</head>
	<body>
		<div class="sysmessagelist" id="app">
			<div class="mui-scroll-wrapper" id="pullrefresh">
				<ul class="mui-scroll">
					<li v-for="item in datadetails" :key='item.id' :mid="item.messageId" :id="item.id" :type="item.type">
						<p><span class="dot" v-if="item.status==1"></span>{{item.updateTime}}</p>
						<p class="sysdesc">{{item.content}}</p>
					</li>
				</ul>
			</div>
			<div v-if="datadetails.length==0">
				<p class="nodata">暂无系统消息</p>
			</div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init({
				swipeBack: false, //启用右滑关闭功能
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				console.log('下')
				setTimeout(function() {
					getlist(options.token, 0, 10)
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				console.log('上')
				options.limit = options.limit * 1 + 10;
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					getlist(options.token, options.offset, options.limit)
				}, 1500);
			}
			(function($, doc) {
				window.addEventListener('refresh', function(e) {
					//执行刷新
					console.log("刷新父页面")
					location.reload();
				});
			})(mui, document);
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token;
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/getSystemMessages",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {
							options.datadetails = data.datas
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			});
			var options = new Vue({
				el: '#app',
				data: {
					datadetails: [],
					token: ''
				}
			});
			mui('.sysmessagelist').on('tap', 'li', function() {
				var mid = this.getAttribute('mid');
				var kid = this.getAttribute('id');
				var type = this.getAttribute('type');
				console.log(mid, type)
				updatemes(options.token, kid)
				switch (type) {
					case "1":
						mui.openWindowWithTitle({
							url: "myorderlistdetails.html",
							id: "myorderlistdetails.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								yid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#ffffff",
							// bottomBorderColor:"#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "免费咨询",
								styles: {
									color: "#333333"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/left-icon.png"
								}
							}
						})
						break;
					case "2":
						mui.openWindowWithTitle({
							url: "myorderlistdetailszy.html",
							id: "myorderlistdetailszy.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								yid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#ffffff",
							// bottomBorderColor:"#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "专业咨询",
								styles: {
									color: "#333333"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/left-icon.png"
								}
							}
						})
						break;
					case '3':
						mui.openWindowWithTitle({
							url: "myorderlistdetailslsh.html",
							id: "myorderlistdetailslsh.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								lshid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#267CFB",
							bottomBorderColor: "#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "律师函",
								styles: {
									color: "#ffffff"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/wleft-icon.png"
								}
							}
						})
						break;
					case '4':
						mui.openWindowWithTitle({
							url: "myorderlistdetailshtsh.html",
							id: "myorderlistdetailshtsh.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								lshid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#267CFB",
							bottomBorderColor: "#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "合同审核",
								styles: {
									color: "#ffffff"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/wleft-icon.png"
								}
							}
						})
						break;
					case '5':
						mui.openWindowWithTitle({
							url: "myorderlistdetailshtdz.html",
							id: "myorderlistdetailshtdz.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								lshid: mid
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#267CFB",
							bottomBorderColor: "#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "合同定制",
								styles: {
									color: "#ffffff"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/wleft-icon.png"
								}
							}
						})
						break;
					case '6':
						mui.openWindowWithTitle({
							url: "dialog.html",
							id: "dialog.html",
							extras: {
								// 打开页面的同时，向新页面传递数据。
								yid: 0
							}
						}, {
							//标题栏的背景色和底边线配置
							backgroundColor: "#ffffff",
							// bottomBorderColor:"#267CFB",
							title: {
								//标题文字的内容和样式配置
								text: "合同定制",
								styles: {
									color: "#333333"
								}
							},
							back: {
								image: {
									/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
									imgSrc: "../images/left-icon.png"
								}
							}
						})
						break;
				}
			});

			function updatemes(token, kid) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflChatContents/updateMessageStatus",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					header: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'id': kid
					},
					success: function(data) {
						console.log(data);
						if (data.errCode == 200) {} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				});
			}
	function getlist(token, offset, limit) {
		mui.ajax({
			type: 'get',
			url: baseurl + "client/mfflChatContents/getSystemMessagesLimit",
			dataType: "json",
			beforeSend: function(XMLHttpRequest) {
				XMLHttpRequest.setRequestHeader(
					"token", token
				);
			},
			header: {
				'contentType': "application/x-www-form-urlencoded",
				'token': token
			},
			data: {
				'offset': offset,
				'limit': limit
			},
			success: function(data) {
				console.log(data);
				if (data.errCode == 200) {
					options.datadetails = data.datas.data
				} else {
					mui.toast(data.message)
				}
			},
			error: function(err) {
				console.log(err)
			}
		});
	}
		</script>
	</body>
</html>
