<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>工作台</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<style type="text/css">
			.filtrate{
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				margin-top: 0;
			}
			#pullrefresh{
				margin-top: 80px;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="filtrate">
				<div class="">
					<label id='showCityPicker'>全部类别</label>
					<span class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="">
					<label id='showLikesPicker'>问题类型</label>
					<span class="mui-icon mui-icon-arrowdown"></span>
				</div>
				<div class="">
					<label id='showCapacityPicker'>智能排序</label>
					<span class="mui-icon mui-icon-arrowdown"></span>
				</div>
			</div>
			<!-- <div class="benchbox"> -->
				<div class="mui-scroll-wrapper" id="pullrefresh">
					<div class="mui-scroll">
						<div class="caseitem" v-for="item in worklist" :key="item.id" :type="item.freeOrPaid" :id="item.id">
							<div class="justbetween">
								<div class="user-box">
									<div class="user-head"><img :src=imgurl+item.headImgUrl></div>
									<div class="user-name">{{item.nickname}}</div>
								</div>
								<div class="tags">
									<span class="tag" v-if="item.type==1">劳动人事</span>
									<span class="tag" v-if="item.type==2">婚姻家庭</span>
									<span class="tag" v-if="item.type==3">债权债务</span>
									<span class="tag" v-if="item.type==4">房产土地</span>
									<span class="tag" v-if="item.type==5">行政纠纷</span>
									<span class="tag" v-if="item.type==6">刑事纠纷</span>
									<span class="tag" v-if="item.type==7">交通事故</span>
									<span class="tag" v-if="item.type==8">医疗纠纷</span>
									<span class="tag" v-if="item.type==9">知识产权</span>
									<span class="tag" v-if="item.type==10">合同纠纷</span>
									<span class="tag" v-if="item.type==11">公司法务</span>
									<span class="tag" v-if="item.type==12">其他</span>
								</div>
							</div>
							<div class="justbetween">
								<div class="bluecolor">问题内容</div>
								<div class="orangecolor" v-if="item.money">悬赏{{item.money}}元</div>
							</div>
							<div class="textover">
								<div class="textcontent" v-html="item.content"></div>
							</div>
							<div class="news-show" v-if="item.imageUrl!=''">
								<div class="news-img" v-for="imgitem in item.imageUrl.split(';')" :key="imgitem">
									<img :src=imgurl+imgitem data-preview-src="" data-preview-group="1">
								</div>
							</div>
							<div class="justbetween actionbox">
								<div class="view">
									<div class="view-icon"><img src="../images/browse.png"></div>{{item.hot}}
								</div>
								<div class="remark">
									<div class="reply-icon"><img src="../images/reply1.png"></div>{{item.replyNumber}}
								</div>
							</div>
						</div>
						<div class="nodata" v-if="worklist.length==0">暂无数据</div>
					</div>
				<!-- </div> -->
			</div>
		</div>
		<script src="../js/mui.js"></script>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.poppicker.js"></script>
		<script src="../js/script.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: false, //启用右滑关闭功能
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						style: 'circle',
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			/**
			 * 下拉刷新具体业务实现
			 */
			function pulldownRefresh() {
				console.log('下')
				setTimeout(function() {
					worklist(options.token, options.freeOrPaid, options.type, options.rank, 0, 10)
					mui('#pullrefresh').pullRefresh().endPulldownToRefresh();
				}, 1500);
			}
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				console.log('上')
				options.limit = options.limit * 1 + 10;
				setTimeout(function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
					worklist(options.token, options.freeOrPaid, options.type, options.rank, options.offset, options.limit)
				}, 1500);
			}
			mui.plusReady(function() {
				var token = plus.storage.getItem('token');
				options.token = token
				servicetype(token);
				worklist(token, '', '', '', 0, 10);
			});

			var options = new Vue({
				el: '#app',
				data: {
					worklist: [],
					servicetype: [],
					token: '',
					type: '',
					freeOrPaid: '',
					rank: '',
					offset: 0,
					limit: 10
				},
				methods: {

				}
			});
			// 服务类型
			function servicetype(token) {
				mui.ajax({
					type: 'get',
					url: baseurl + "mffl/getserviceidtype",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'serviceid': 1
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							var res = data.datas;
							var newdata = [];
							for (var i = 0; i < res.length; i++) {
								newdata.push({
									value: res[i].id,
									text: res[i].name
								})
							}
							console.log(newdata)
							options.servicetype = newdata;
							(function($, doc) {
								$.init();
								$.ready(function() {
									// 问题类型
									var likesPicker = new $.PopPicker();
									likesPicker.setData(options.servicetype);
									var showLikesPickerButton = doc.getElementById('showLikesPicker');
									showLikesPickerButton.addEventListener('tap', function(event) {
										likesPicker.show(function(items) {
											showLikesPickerButton.innerText = items[0].text;
											options.type = items[0].value
											console.log(items[0].value)
											worklist(options.token, options.freeOrPaid, options.type, options.rank, options.offset, options.limit)
											//返回 false 可以阻止选择框的关闭
											//return false;
										});
									}, false);
									// 智能排序
									var showCapacityPicker = new $.PopPicker();
									showCapacityPicker.setData([{
										value: '',
										text: '智能排序'
									}, {
										value: '1',
										text: '价格'
									}, {
										value: '2',
										text: '观看量'
									}, {
										value: '3',
										text: '评论量'
									}]);
									var showCapacityPickerButton = doc.getElementById('showCapacityPicker');
									showCapacityPickerButton.addEventListener('tap', function(event) {
										showCapacityPicker.show(function(items) {
											showCapacityPickerButton.innerText = items[0].text;
											options.order = items[0].value
											worklist(options.token, options.freeOrPaid, options.type, options.rank, options.offset, options.limit)
											//返回 false 可以阻止选择框的关闭
											//return false;
										});
									}, false);

									//级联示例
									var cityPicker = new $.PopPicker({
										layer: 1
									});
									cityPicker.setData([{
										value: '',
										text: '全部类别'
									}, {
										value: '0',
										text: '免费咨询'
									}, {
										value: '1',
										text: '专业咨询'
									}]);
									var showCityPickerButton = doc.getElementById('showCityPicker');
									showCityPickerButton.addEventListener('tap', function(event) {
										cityPicker.show(function(items) {
											console.log(items)
											showCityPickerButton.innerText = items[0].text;
											options.comid = items[0].value;
											worklist(options.token, options.freeOrPaid, options.type, options.rank, options.offset, options.limit)
											//返回 false 可以阻止选择框的关闭
											//return false;
										});
									}, false);
								});
							})(mui, document);
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}

			function worklist(token, freeOrPaid, type, rank, offset, limit) {
				mui.ajax({
					type: 'get',
					url: baseurl + "client/mfflLawyer/getWorkbench",
					dataType: "json",
					beforeSend: function(XMLHttpRequest) {
						XMLHttpRequest.setRequestHeader(
							"token", token
						);
					},
					headers: {
						'contentType': "application/x-www-form-urlencoded",
						'token': token
					},
					data: {
						'freeOrPaid': freeOrPaid,
						'type': type,
						'rank': rank,
						'offset': offset,
						'limit': limit,
					},
					success: function(data) {
						console.log(data)
						if (data.errCode == 200) {
							options.worklist = data.datas.data;
						} else {
							mui.toast(data.message)
						}
					},
					error: function(err) {
						console.log(err)
					}
				})
			}
			// 咨询详情
			mui("body").on("tap", ".caseitem", function() {
				var yid = this.getAttribute('id');
				var wordtype = this.getAttribute('type');
				if (wordtype == 0) {
					mui.openWindowWithTitle({
						url: "myorderlistdetails.html",
						id: "myorderlistdetails.html",
						styles: {},
						extras: {
							// 打开页面的同时，向新页面传递数据。
							yid: yid
						}
					}, {
						//标题栏的背景色和底边线配置
						// backgroundColor: "#267CFB",
						// bottomBorderColor: "#267CFB",
						title: {
							//标题文字的内容和样式配置
							text: "免费咨询详情",
							// styles: {
							// 	color: "#fffff"
							// }
						},
						back: {
							image: {
								/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
								imgSrc: "../images/left-icon.png"
							}
						}
					})
				} else if (wordtype == 1) {
					mui.openWindowWithTitle({
						url: "myorderlistdetailszy.html",
						id: "myorderlistdetailszy.html",
						styles: {},
						extras: {
							// 打开页面的同时，向新页面传递数据。
							yid: yid
						}
					}, {
						//标题栏的背景色和底边线配置
						// backgroundColor: "#267CFB",
						// bottomBorderColor: "#267CFB",
						title: {
							//标题文字的内容和样式配置
							text: "专业咨询详情",
							// styles: {
							// 	color: "#fffff"
							// }
						},
						back: {
							image: {
								/*返回箭头图片可以使用imgSrc，也可以使用base64编码*/
								imgSrc: "../images/left-icon.png"
							}
						}
					})
				}

			});
		</script>

	</body>
</html>
